body {
    padding-left: 16em;
    padding-right: 10em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: purple;
    background-color: #d8da3d }

    button {
    height:45px;
    width:320px;
    border: none;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;

{% block navbar %}

<div class="navbar navbar-default" role="navigation">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Day4</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="{% block active_articles %}{% endblock %}"><a href="{% url 'articles:all' %}">Articles</a></li>
      <li><a href="{% url 'admin:index' %}">Admin</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="../navbar-fixed-top/">Fixed top</a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
</div>

{% endblock %}

}