<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>These is my final work!</title>
   <style>
      h3 {text-align: center}
      img {align: center}
    </style>
</head>
<body>
<h3 style="background-color:Yellow"> A nice light flavor of Linux Ubuntu that run with 1,5 GB RAM and an 2 GHz Celeron processor</h3>
Using a secure connection and a few commands we can see the main security and availability parameters
that are present in an linux like operating system.
    <h3 style="background-color:Green"> A classical Microsoft Windows 10 that run on with 16 GB RAM and I5 G10 processor</h3>
Using the SSH connection we can inject a few commands and observe the GPOs, networking information and other important details.
        <b></b>
    <h3 style="background-color:Yellow"> A Microsoft Windows 2016 Server</h3>
Using a secure connection and a few commands we can observe the main security and availability parameters
that are present in a Windows 2016 Server.
        <b></b>
        <p></p>
<center>
    <img src="{% static 'Linux basic command.png' %}" alt="My Linux cmds" width="600" height="600" align="center">
    <img src="{% static 'win.png' %}" alt="My Windows cmds" width="400" height="600" align="center">
</center>
<p></p>All the logo images are trademarks of the wellknown companies.
<p></p>Thanks to Paramiko creators for their wonderful module!
 <p></p>
<a href="http://www.paramiko.org/">http://www.paramiko.org/</a>
<p></p>
    <button type='submit' onclick="location.href = '/admin/';" id="myButton" class="float-left submit-button" >
        Back to the administrator page</button>
        <p></p>
<form method='get' action="{% url 'system_page' %}">
    <button type='submit'>Back to systems choose page</button>
</form>
</body>
</html>