<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>These are your possibilities to choose</title>
</head>
<body>
<form method='POST' action="{% url 'first_page' %}">
	{% csrf_token %}
   	<label> Username </label>
	<input type='text' name='username' value={{request.client.username}}>
	<label> Password </label>
	<input type='password' name='password' value={{request.client.password}}>
 	<label> IP value </label>
	<input type='text' name='ip' value={{request.client.ip}}>
	<button type='submit'>Windows 10 Enterprise Edition</button>
	<img src="{% static 'images.png' %}" width="70" height="40">
</form>

<p> </p>
<form method='POST' action="{% url 'second_page' %}">
	{% csrf_token %}
   	<label> Username </label>
	<input type='text' name='username' value={{request.client.username}}>
	<label> Password </label>
	<input type='password' name='password' value={{request.client.password}}>
 	<label> IP value </label>
	<input type='text' name='ip' value={{request.client.ip}}>
	<button type='submit'> Linux Ubuntu Small Lite Edition</button>
	<img src="{% static 'linux.jfif' %}" width="70" height="40">
</form>
<p> </p>
<form method='POST' action="{% url 'third_page' %}">
	{% csrf_token %}
   	<label> Username </label>
	<input type='text' name='username' value={{request.client.username}}>
	<label> Password </label>
	<input type='password' name='password' value={{request.client.password}}>
 	<label> IP value </label>
	<input type='text' name='ip' value={{request.client.ip}}>
	<button type='submit'> Windows 2016 Datacenter Server</button>
	<img src="{% static 'win2016.jfif' %}" width="73" height="40">
</form>
<p> </p>
<form method='POST' action="{% url 'forth_page' %}">
	{% csrf_token %}
   	<label> Username </label>
	<input type='text' name='username' value={{request.client.username}}>
	<label> Password </label>
	<input type='password' name='password' value={{request.client.password}}>
 	<label> IP value </label>
	<input type='text' name='ip' value={{request.client.ip}}>
	<button type='submit'> CISCO router IOS 15.1</button>
	<img src="{% static 'cisco.jfif' %}" width="73" height="40">
</form>
<p>  </p>
<form method='POST' action="{% url 'forth_page' %}">
	{% csrf_token %}
   	<label> Username </label>
	<input type='text' name='username' value={{request.client.username}}>
	<label> Password </label>
	<input type='password' name='password' value={{request.client.password}}>
 	<label> IP value </label>
	<input type='text' name='ip' value={{request.client.ip}}>
	<button type='submit'> CheckPoint Firewall R80.40</button>
	<img src="{% static 'cc.png' %}" width="73" height="40">
</form>
<p></p>
<b> </b>
<button type='submit' onclick="location.href = '/about/';" id="myButton" class="float-left submit-button" >Something about this tool</button>
</body>
</html>