<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Microsoft Windows 10 relevant system details</title>
</head>
<body>
<center>
    <form method='get' action="{% url 'system_page' %}">
    <button type='submit'>Back to systems choose page</button>
    </form>
</center>
<h3>Information from an Microsoft Windows 10 OS: HDD space, CPU, Memory, Security policies, Networking:</h3>
    <p style="background-color:DodgerBlue"> HDD information: </p>
        {% for line in hdd_line %}
            <p> {{line}} </p>
        {% endfor %}
    <p style="background-color:DodgerBlue"> CPU information: </p>
        {% for line in cpu_line %}
            <p> {{line}} </p>
        {% endfor %}
    <p style="background-color:DodgerBlue"> RAM information: </p>
        {% for line in ram_line %}
            <p> {{line}} </p>
        {% endfor %}
    <p style="background-color:DodgerBlue"> The GPOs for user are: </p>
        {% for line in gpo_line %}
            <p style="background-color:MediumSeaGreen"> {{line}} </p>
        {% endfor %}
    <p style="background-color:DodgerBlue"> Networking: </p>
        {% for line in net_line %}
            <p> {{line}} </p>
        {% endfor %}
</body>
</html>


