<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linux Ubuntu System details</title>
</head>
<body>
<center>
    <form method='get' action="{% url 'system_page' %}">
    <button type='submit'>Back to systems choose page</button>
    </form>
</center>
<h3>Information from an Linux OS: Version, Free space, CPU, Memory, Networking, Users, Folders:</h3>
    <p style="background-color:DodgerBlue"> Version information: </p>
        {% for line in ver_line %}
            <p> {{line}} </p>
        {% endfor %}
    <p style="background-color:DodgerBlue"> HDD/Flash information: </p>
        {% for line in hddlin_line %}
            <p> {{line}} </p>
        {% endfor %}
    <p style="background-color:DodgerBlue"> Networking information: </p>
        {% for line in ramlin_line %}
            <p> {{line}} </p>
        {% endfor %}
    <p style="background-color:DodgerBlue"> The active users and ACL are are: </p>
        {% for line in userlin_line %}
            <p style="background-color:MediumSeaGreen"> {{line}} </p>
        {% endfor %}
    <p style="background-color:DodgerBlue"> User folder information: </p>
        {% for line in folderslin_line %}
            <p> {{line}} </p>
        {% endfor %}
</body>
</html>